:root {
    --yellow: #f1a713;
    --gray: #546962;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
}

.vision_header {
    font-size: 50px;
}

.leadership_header {
    font-size: 50px;
    border-bottom: 5px solid var(--yellow);
    width: fit-content;
}

.nav-color {
    border-bottom: 1px solid var(--yellow);
}

.logo {
    object-fit: scale-down;
    width: 200px;
}

.yellow_color {
    color: var(--yellow);
    font-size: 75px;
}

.section_1 {
    width: 100%;
    aspect-ratio: 16/7;
    background-image: url("./assets/about_bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--yellow);
}

.main_header {
    position: absolute;
    margin: 15% 15%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;
}

.spin {
    aspect-ratio: 1/1;
    transform: rotateY(360deg); /* Standard syntax */
    transition-duration: 4s; /* Standard syntax */
    animation: rotating 4s linear infinite; /* Animation shorthand */
}

@keyframes rotating {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.description {
    border-left: 5px solid var(--yellow);
}

.section_3 {
    background-color: var(--yellow);
    color: white;
}

.section_5 {
    background-color: var(--yellow);
    color: white;
}

.border_leader {
    border-right: 30px solid var(--yellow);
}

.leader_name {
    font-size: 24px;
    border-bottom: 5px dashed var(--yellow);
}

.customer_img {
    width: 100%;
    object-fit: scale-down;
    background-color: white;
    padding: 10px;
}

footer {
    background-color: var(--yellow);
}

.fa-solid {
    font-size: 25px;
}

.usefull_links {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
