:root {
    --yellow: #f1a713;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
    font-size: 20px;
}

.logo {
    object-fit: scale-down;
    width: 200px;
}

.section_1 {
    background-image: url("./assets/contact\ us.webp");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.gif {
    width: 100%;
    object-fit: scale-down;
}

.form {
    background-color: rgba(84, 105, 98, 0.5);
    color: white !important;
    height: min-content;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
    height: min-content;
    backdrop-filter: blur(10px);
}

footer {
    background-color: var(--yellow);
}

.fa-solid {
    font-size: 25px;
}

.usefull_links {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
